
<div class="mobile-hide page-header" style=" margin-left: 0.75cm; margin-bottom: 1cm;">
    <h4>
        <ul class="list-unstyled list-inline menu_item">
			<li><a href="{{ site.BASE_PATH }}/" {% if page.title == 'Home' %} style="text-decoration: underline;" {% endif %}>Home</a></li>
            <li><a href="{{ site.BASE_PATH }}/{{ site.bio_path }}" {% if page.title == 'Bio' %} style="text-decoration: underline;" {% endif %}>Bio</a></li>
            <li><a href="{{ site.BASE_PATH }}/{{ site.publications_path }}" {% if page.title == 
                'Publications' %} style="text-decoration: underline;" {% endif %}>Publications</a></li>
            <li><a href="{{ site.BASE_PATH }}/{{ site.conferences_path }}" {% if page.title == 'Talks' %} style="text-decoration: underline;" {% endif %}>Talks</a></li>
            <li><a href="{{ site.BASE_PATH }}/{{ site.teaching_path }}" {% if page.title == 'Teaching' %} style="text-decoration: underline;" {% endif %}>Teaching</a></li> 
        </ul>
    </h4> 
</div>
<!-- <div class="page-content"> -->
{{ content }}
<!-- </div> -->

