<!-- sidebar.html -->
<header class="sidebar-header" role="banner" position ="fixed">
	<a href="{{ site.BASE_PATH }}/">
		<img src="/avetik_official copy.jpg" class="img-circle" width="65%" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center" style = "margin-bottom: 60px; margin-top: 40px; font-family: 'Montserrat'; font-weight: lighter;" position ="fixed" >
	<ul class="list-unstyled list-inline">
		<li>
			Chargé de Recherche at 
				<p >
					<a href="https://www.insmi.cnrs.fr/fr" style="color: #ffffff">CNRS</a> / <a href="https://l2s.centralesupelec.fr/" style="color: #ffffff">L2S</a>
				</p>
			</a>
		</li>
	</ul>
</div>
{% endif %}

<div id="contact-list" class="text-center" style="margin-top: 60px" position ="fixed">
	<ul class="list-unstyled list-inline">
		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm sidebar-icon" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.scholar %}
		<li>
			<a class="btn btn-default btn-sm sidebar-icon" href="https://scholar.google.com/{{ site.author.scholar }}">
				<i class="fa-solid fa-graduation-cap fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.cv %}
		<li>
			<a class="btn btn-default btn-sm sidebar-icon" href="cv_Avetik_Karagulyan.pdf">
				<i class="fa fa-regular fa-id-card fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm sidebar-icon" href="https://github.com/{{ site.author.github }}">
				<i class="fa-brands fa-github fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>

