/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* Base Styles */
body {
/*  color: #2c3e50;*/
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.anonymous-pro {
  font-family: 'Anonymous Pro', monospace;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  padding-top: 10%;
  background-color: #2c3e50;
  color: #fff;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-header .title {
  letter-spacing: 3px;
  text-transform: lowercase;
}

.sidebar-header .title a {
  text-decoration: none;
  color: #fff;
}
.mek-margin {
    margin-left: .8cm; 
}
.erku-margin {
    margin-left: 1.2cm; 
}
.main-guyn{
	color: #3f5973;
}
/* Links */
/* Reset the link color and add dotted underline */
a {
/*   color: #3f5973 ; /* Inherits the text color from the surrounding text */ 
	color: red;
	text-decoration: underline dotted; /* Dotted underline */
}

/* If you want to style visited links the same way */
a:visited {
  color: #3f5973; /* Inherits the text color from the surrounding text */
  text-decoration: underline dotted; /* Dotted underline */
}

/* Optional: Style the hover state if needed */
a:hover {
	color: #3f5973;
  /* color: #3f5973;  Keeps the color the same on hover */
  text-decoration: underline; /* Keeps dotted underline on hover */
/*  text-decoration-color: #3f5973;*/
}
/* Bio Section */
#bio {
  font-family: 'Anonymous Pro', monospace;
  font-size: 12pt;
  margin: 0 auto 10px;
}
.sidebar-icon{
  color: #3f5973; 
  text-decoration: none; /* Remove any underline, if it exists */
}
.sidebar-icon.hover {
  color: #3f5973; 
  /* Set the text color for buttons to #3f5973 */
  text-decoration: none; /* Remove any underline, if it exists */
}

/* Contact List */
#contact-list li .fa,
article .share .btn {
  transition: color 0.2s ease-out, background 1s ease-in;
  -webkit-transition: color 0.2s ease-out, background 1s ease-in;
}

#contact-list li:hover .fa-twitter,
article .share .twitter:hover { color: #00ACEE; border-color: #00ACEE; }
#contact-list li:hover .fa-linkedin { color: #3f5973; }
#contact-list li:hover .fa-github { color: #3f5973; }
#contact-list li:hover .fa-graduation-cap { color: #3f5973; }
#contact-list li:hover .fa-id-card  { color: #3f5973; }
#contact-list li:hover .fa-envelope { color: #3f5973; }
#contact-list li:hover .fa-pinterest { color: #3f5973; }
#contact-list li:hover .fa-rss { color: #3f5973; }

/* Articles */
article {
  margin-bottom: 40px;
  padding: 0 5%;
}

.article_body { margin: 20px 0; }

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

article img { max-width: 100%; }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #3f5973;
}
h3 {
    font-size: 17pt; /* Change to your desired size */
}

h4 {
    font-size: 15pt; /* Change to your desired size */
}
h5 {
    font-size: 13pt; /* Change to your desired size */
}

article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
  color: #7b99b7;
}

div {
  padding-top: 7px;
  font-family: 'Montserrat';
}

footer {
  padding-top: 15px;
  font-family: 'Montserrat', monospace;
}

/* Components */
.nav-tabs-vertical {
  border-right: 1px solid #ddd;
}

.nav-tabs-vertical li { margin-right: -1px; }

.nav-tabs-vertical>li.active>a,
.nav-tabs-vertical>li.active>a:hover,
.nav-tabs-vertical>li.active>a:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-right-color: transparent;
}

.badge { background: #3f5973; }

/* Responsive */
@media (max-width: 768px) {
  .page-header { margin-right: 70px;}
   .mobile-hide {
    display: none;
  }
}
